header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
  text-align: center;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ================= CALL TO ACTION =================== */
.callToAction{
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ===================*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ===================*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .callToAction {
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}