.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience-container > div {
  background: var(--color-background-alt);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solird transparent;
}

.experience-container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.downloadResume {
  margin: 2rem;
  text-align: center;  
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ===================*/
@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience-content {
    padding: 1rem;
  }
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ===================*/
@media screen and (max-width: 600px) {
  .experience-container {
    gap: 1rem;
  }
}